<style type="text/css">
  .tenPrintChr pre {
    font-family: monospace;
    font-size: 1.6em;
    line-height: 1.2em;
  }
</style>
<h6>
  @{{ entry.handle }}
</h6>
<h4>
  {{ entry.title }}
</h4>
<pre>{{ entry.tweet.text }}</pre>
