<style type="text/css">
  .tinyStarField {
    font-family: monospace;
    font-size: 1.22em;
  }
</style>
<h4>
  @{{ entry.handle }}
</h4>
<pre class="tinyStarField">
  {{ entry.tweet.text }}
</div>
