<!DOCTYPE html>
<html>
  <head>
    <title>deep web transmissions</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=418">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wdth,wght@0,75..125,200..900;1,75..125,200..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet">
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="flex">
      <aside class="column">
        <div class="box controls">
          <h3><label for="from">from</label></h3>
          <input type="text" placeholder="your name" id="from" />
          <h3>content</h3>
          <div>
            <input type="checkbox" id="toggle-customMessage" name="customMessage" />
            <label for="toggle-customMessage">custom message</label>
            <div class="customMessage hidden">
              <textarea id="input-customMessage">:~)</textarea>
            </div>
            <br />
          </div>
          <div id="sources">
            <% it.entries.forEach(function(entry) { %>
              <div data-id="<%= entry.id %>">
                <span class="drag-handle">⸬</span>
                <input
                  type="checkbox"
                  id="toggle-<%= entry.id %>"
                  name="<%= entry.id %>"
                  checked
                />
                <label for="toggle-<%= entry.id %>">
                  <% if (entry.handle) { %>
                    @<%= entry.handle %>
                  <% } else { %>
                    <%= entry.name %>
                  <% } %>
                </label>
              </div>
            <% }) %>
          </div>

          <br />
          <h3>printer</h3>
          <label for="printerUrl">printer key</label>
          <input type="text" placeholder="device.li" id="printerUrl" />
          <br />
          <button id="status">
            check printer status
          </button>
          <button id="print">
            print
          </button>

          <br />

          <input type="checkbox" id="toggle-preview-dither" name="toggle-preview-dither" checked />
          <label for="toggle-preview-dither">preview dithering</label>
        </div>
        
        <pre class="box" id="printerStatus" style="display: none;"></pre>
   
        <div class="box info">
          <h2>what is this?</h2>
          <p>
            <em>deep web transmissions</em> is a tribute to <a>generative art bots</a>, formatted as a digest 
            for the <a href="https://tinyprinter.club/" target="_blank">little printer</a> and compatible 
            thermal printers.
          </p>
          <!-- <p>
            i started working on this in 2018, around when twitter bots were at their peak. not even just 
            generative and art bots- 
            https://codepen.io/cubeghost/details/BObEjq
          </p> -->
          <details>
            <summary>credits and influences</summary>
            <h6>bots</h6>
            <ul>
              <% it.entries.forEach(function(entry) { %>
                <% if (entry.credit) { %><li><%~ it.markdownToHtml(entry.credit) %></li><% } %>
              <% }) %>
            </ul>
            <h6>libraries, platforms, and influences</h6>
            <ul>
              <li>kate compton's <a href="" target="_blank">tracery</a></li>
              <li>
                v buckenham's <a href="https://cheapbotsdonequick.com/" target="_blank">cheap bots, done quick!</a> and its successors
                <ul>
                  <li>for the fediverse, <a href="https://cheapbotstootsweet.com/" target="_blank">cheap bots, toot sweet!</a> by @boodooperson</li>
                  <li>for bluesky, <a href="https://bluebotsdonequick.com/" target="_blank">blue bots, done quick!</a> by olaf moriarty solstrand </li>
                </ul>
              </li>
            </ul>
          </details>
        </div>

        <footer>
          by <a href="https://cubegho.st/" target="_blank">cubeghost</a>
          &middot;
          <a href="https://github.com/cubeghost/deep-web-transmissions/" target="_blank">github</a>
        </footer>

      </aside>

      <div class="receipt-wrapper">
        <div id="receipt">
          <h1>deep web transmissions</h1>

          <div class="entry customMessage hidden">
            <hr />
            <div id="customMessage">:~)</div>
          </div>

          <% it.entries.forEach(function(entry) { %>
            <div class="entry <%= entry.id %>">
              <hr />
              <%~ include(`partials/${entry.id}`, {entry: entry}) %>
            </div>
          <% }) %>
        </div>
      </div>
    </div>
    
    <script src="/index.mjs" type="module"></script>
  </body>
</html>
